Q-1 is python case sensitive when dealing with identifiers? ans :- YES

q-2 what is the maximum possible possible length of an identifier?
ans- there is no length limit for identifer

q-3 Print name, id , salary

In [2]:
emp_name = "aditya"
emp_id = 101
emp_salary = 15000
print(emp_name)
print(emp_id)
print(emp_salary)

aditya
101
15000

Q- 4 below variavble names are valid or indalid

In [3]:
a = 1
_a = 2
__a = 3
__a__ = 4
print(a)
print(_a)
print(__a)
print(__a__)

1
2
3
4

Q- 5 below variavble names are valid or indalid

In [4]:
name = "aditya"
name_1 = "kunal"
_ = 'ramesh'
print(name)
print(name_1)
print(_)

aditya
kunal
ramesh

In [5]:
a_b_c = 1,2,3
print(a_b_c)

(1, 2, 3)

In [6]:
a,b,c = 1000,2000,3000
print(a,b,c)

1000 2000 3000

In [7]:
a,b,c = 1000,2000,3000
print(a,b,c)
print(type(a,b,c))

1000 2000 3000

TypeError: type.__new__() argument 1 must be str, not int

In [8]:
a,b,c = 1000,2000,3000
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

1000 2000 3000
<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
a_b_c = 1,2,3
print(a_b_c)
print(type(a_b_c))

(1, 2, 3)
<class 'tuple'>